body {
  background: #111111;
  color: #333333;
  margin-top: 5rem;
}

/* Add dark mode styles */
body.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* Adjust post block background color */
.content-section {
  background: #f2f2f2; /* Change this color as needed */
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Ensure post content remains black in dark mode */
.content-section,
.article-title,
.article-content {
  color: #000000; /* Set text color to black */
}

/* Continue with your existing styles */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #111111;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  margin-top: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* ... rest of your styles ... */


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.custom-link {
        color: inherit; /* Inherit color from parent element */
         /* Add underline to mimic link style */
        cursor: pointer; /* Change cursor to indicate interactivity */
    }

.btn-white-bg {
        background-color: white;
    }
.navbar-toggler {
    margin-top: 10px;
}