{% extends "layout.html" %}
{% block content %}
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for post in posts.items %}
        <div class="slider-item swiper-slide">
          <div class="slider-image-wrapper">
            <img class="slider-image" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="SliderImg">
          </div>
          <div class="slider-item-content">
            <a class="mr-2 mb-4 bold-link" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js'></script><script  src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
{% endblock content %}