{% extends "layout.html" %}
{% block content %}
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    </head>
    <body class="home">
    <div class="topstories">
        <h4>Top Stories</h4>
    </div>
    <div class="">
        <div class="row">
            <div class="container-fluid">
                {% for post in posts.items %}
                    <article class="container-fluid media content-section bigger-article">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2 user-name">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
                            </div>
                            <p class="article-content">{{ post.content[:150] }}...</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
{% endblock content %}
