<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/loader.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Dblog.jpg') }}">

    {% if title %}
        <title>ChatBurst - {{ title }}</title>
    {% else %}
        <title>ChatBurst</title>
    {% endif %}
</head>
<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container d-flex align-items-center justify-content-between">
                <div>
                    {% if current_user.is_authenticated %}
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                    {% else %}
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/default.jpg') }}">
                    {% endif %}
                </div>
                <a class="navbar-brand mx-auto center-logo" href="/"> <!-- Updated class to mx-auto and added text-center -->
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="DBlog Logo" style="width: 50px; height: 25px; margin-top: -10px;">
                </a>
                {% if current_user.is_authenticated %}
                    <!-- You can add other navigation items here for authenticated users -->
                {% else %}
                    <a class="nav-item1 nav-link login-button" href="{{ url_for('users.login') }}" style="color: white; height: 20px; width: 55px; line-height: 17px;">Sign In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <div class="bottom-nav">
        <a href="/" class="nav-item active">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" class="nav-item">
            <i class="fas fa-search"></i>
        </a>
        <a href="{{ url_for('posts.new_post') }}" class="nav-item">
            <i class="fas fa-plus"></i>
        </a>
        <a href="#" class="nav-item">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="#" class="nav-item" id="navToggle">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <div class="sidebar" id="sidebar">
        <p> Sidebar </p>
    </div>
    <script>
    // Function to show the loader
    function showLoader() {
        document.querySelector(".loader-container").style.display = "block";
    }

    // Function to hide the loader
    function hideLoader() {
        document.querySelector(".loader-container").style.display = "none";
    }

    // Attach an event listener to the DOMContentLoaded event to show the loader
    document.addEventListener("DOMContentLoaded", showLoader);

    // Attach an event listener to the load event to hide the loader when the page is fully loaded
    window.addEventListener("load", hideLoader);
</script>
    <script>
      var lastScrollTop = 0;
      var navbar = document.querySelector(".bottom-nav");

      window.addEventListener("scroll", function() {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          // Scrolling down, hide the navigation
          navbar.style.transform = "translateY(100%)";
        } else {
          // Scrolling up, show the navigation
          navbar.style.transform = "translateY(0)";
        }

        lastScrollTop = scrollTop;
      });
    </script>

    <script src="{{ url_for('static', filename='Javascript/sidebar.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
