/* Reset default margin and padding on all elements */

/* Style for the .home section */
.home {
    background: #111111;
    color: #ffffff; /* Set text color to white */
    margin-top: 3rem; /* Adjust as needed */
    width: 95%;
    padding: 0;
}

/* Style for individual articles (post contents) */
.bigger-article {
    position: relative;
    width: 100%;
}

.content-section {
    background: #111; /* Black background for individual articles (post contents) */
    padding: 10px;
    width: 100%; /* Reset the width to 100% for individual articles */
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Faint white top border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Faint white bottom border */
    /* Other styles for the content go here */
}

/* Ensure post content remains black in dark mode */
.content-section,
.article-title,
.article-content {
    color: #000000; /* Set text color to black */
}

/* Continue with your existing styles */
h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

.article-content {
  white-space: pre-line;
  color: #fff;
  margin-right: 0; /* Remove right margin */
  margin-left: 10px; /* Remove left margin */
  font-size: 12px;
  margin-top: 10px;
}

.article-img {
  height: 45px;
  width: 45px;
  margin-left: 20px; /* Remove left margin */
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  margin-right: 20px; /* Remove right margin */
  margin-left: 10px; /* Remove left margin */
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.user-name {
  color: white !important;
  font-size: 13.5px;
}

.account-heading {
  font-size: 2.5rem;
}

.topstories {
  margin-top: -60px;
  margin-left: 20px;
  border: none;
}

.float{
	position:fixed;
	width:70px;
	height:70px;
	bottom: 120px;
	right:40px;
	background-color:#990000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	z-index: 9999;
}

.my-float{
	margin-top: 27px;
}